extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner TeleHealth Portal
    div.Message
      div.Title
        h3 Making the Best
        h1 of your health
      span.Details Access an efficient medical consultaion
    div.NavButtons
      a(href="/user")
          div.NavButton Enter
